extends ../layouts/default

block head
	script(src="/js/vendors/vue.min.js")

block main
	main.item-fill
		.full-section.column.v-centered
			.background.background-beige
			.container#intro
				img.intro-image.animated.zoomIn(src="/images/logo-lg.png", alt="Logo Mundial Feminista")
				.intro-text.animated.fadeIn
					p El Mundial de la Igualdad es una iniciativa que busca que los medios tradicionales y alternativos, organizaciones, clubes deportivos y marcas interesadas en el fútbol difundan, desarrollen y promuevan contenidos con una agenda social y de género más responsable.
					.column.h-centered
						a.animated.pulse.scroller(href="#hackaton" data-scroll) Saber más
		section.container#hackaton
			h2.text-custom-blue.section-title Hackaton Argentina
			#hackaton-info
				p
					| El sábado 14 de abril empieza el primer tiempo del 
					span.highlight.text-custom-red mundial de la igualdad. 
					| Te esperamos para empezar a palpitar el Mundial con una hackaton, historias de las mujeres en el fútbol contadas por sus protagonistas y feminismo
				p Polideportivo Boedo de San Lorenzo, José Mármol 1715, CABA. 12 a 20hs
			.hackaton-inscription.column.centered
				a.column.centered(href="https://docs.google.com/forms/d/e/1FAIpQLSenfbikfCz9PFjdExvjgxT8cVZ3FzsSLZxojDsg-MK-KBa6pg/viewform" target="_blank") Inscripción
		.line.centered(style="background: #f2eecc")      
			img(src="/images/flyer.png", alt="" style="max-width: 100%")
		section(style="position: relative")
			.background.background-blue
			.container#info
				.info-text
					p.section-title Hackaton Colombia
					p.coming Próximamente
				.info-text
					p.section-title Hackaton Perú
					p.coming Próximamente
		section.container
			h2.section-title.text-custom-blue Así quedaron los grupos
			#app
				.groups
					.group-card(
						v-for="(group, index) in groups",
						:key="index"
					)
						p.group-letter Grupo {{ group.group.toUpperCase() }}
						.group-team.line.v-centered(
							v-for="(team, index) in group.teams",
							:key="index"
						)
							img(:src="team.image | imageDir", alt="")
							span {{ team.country }}

block js
	script(src="/js/vendors/moveTo.min.js")
	script(src="/js/views/index.js")