extends ../layouts/default

block css
  style.
    iframe {
      min-width: 100%;
      width: 1px;
    }

block vars
  - var showed = true

block main
  main.item-fill
    iframe(id="iframe", src=data.url, frameborder="0")

block js
  script(src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.6.1/iframeResizer.min.js")
  //- script(src="/js/views/inner.js")
  script.
    var iframe = document.getElementById('iframe');
    var search = location.search.substring(1);
    if (search) {
      var src = 'https://figusdelaigualdad.now.sh/?ocultarHeader=true&ocultarFooter=false'
      var params = JSON.parse('{"' + search.replace(/&/g, '","').replace(/=/g,'":"') + '"}', function(key, value) { return key === "" ? value : decodeURIComponent(value) });
      var query = 'pais1=' + params.pais1 + '&pais2=' + params.pais2
      iframe.setAttribute('src', src + '&' + query)
    }
    iFrameResize({ heightCalculationMethod: 'bodyScroll', checkOrigin: false, minHeight: 500 }, '#iframe');
