extends ../layouts/default

block vars
	- var showed = true

block main
	.spacer
	main.item-fill.container.column.v-centered
		article
			if !data.post
				h2 Esta entrada no existe
			else
				.post-header.column
					.post-content
						h1= data.post.title
						if data.post.publishedDate
							h5 #{data.post._.publishedDate.format('DD/MM')} 
					if data.post.image.exists
						.post-header-image
							img(src=data.post._.image.fit(750,450)).img-responsive
				.post-content
					!= data.post.content.full.html

block js
	script(src="/js/views/inner.js")