<!DOCTYPE html>
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block meta
    block title
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/gh/ddazal/align.css/dist/align.min.css")
    block css
  body
    #wrapper.column
      nav: .container
        .line.v-centered
          img.logo(src="assets/media/logo-sm.png" alt="El mundial de la igualdad")
      block main
      footer.column.v-centered        
        .container
          p Un proyecto de: 
          .line.justify-between.v-centered
            a(href="https://www.datasketch.co/es" target="_blank" rel="noopener noreferrer"): img(src="assets/media/ds.png", alt="")
            a(href="http://economiafeminita.com" target="_blank" rel="noopener noreferrer"): img(src="assets/media/ef.png", alt="" width="100px")
            a(href="https://www.futbolfemenino.tv/" target="_blank" rel="noopener noreferrer"): img(src="assets/media/ff.svg", alt="" width="300px")
    block js