// Override Bootstrap variables in this file, e.g.
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700|Roboto:300,400');

@font-size-base: 14px;
@custom-blue: rgb(41, 41, 101);
@custom-red: rgb(209, 73, 91);
@custom-beige: rgb(242, 238, 204);
@custom-black: rgb(71, 71, 69);
