@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');

@custom-blue: rgb(41, 41, 101);
@custom-red: rgb(209, 73, 91);
@custom-beige: rgb(242, 238, 204);
@custom-black: rgb(71, 71, 69);

*,
*:before,
*:after {
  box-sizing: inherit;
  outline: none;
}

html,
body {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#wrapper {
  min-height: 100%;
}

.container {
  margin: 0 auto;
  width: 95%;
  @media only screen and (min-width: 768px) {
    width: 90%;
  }
}

.full-section {
  min-height: 100vh;
  position: relative;
}

.half-quarter-section {
  min-height: 75vh;
}

.background {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.background-blue {
  background: @custom-blue;
}
.background-beige {
  background: @custom-beige;
}

.highlight {
  font-weight: 700;
  text-transform: uppercase;
}

.text-custom-red {
  color: @custom-red;
}

.text-custom-blue {
  color: @custom-blue;
}

.section-title {
  font-size: 30px;
  margin: 15px 0;
  text-align: center;
  @media only screen and (min-width: 768px) {
    font-size: 40px;
  }
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 1;
  background: @custom-beige;
  .logo {
    transform: scale(0);
    transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: 120px;
  }
  @media only screen and (min-width: 768px) {
    .logo {
      width: 190px;
    }
  }
}

nav.affixed {
  border-bottom: 1px solid #f4f4f4;
  .logo {
    transform: scale(1);
    transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  @media only screen and (min-width: 768px) {
    .logo {
      width: 200px;
    }
  }
}

// Intro
#intro {
  display: flex;
  flex-direction: column;
  img {
    max-width: 100%;
  }
  .intro-image {
    width: 100%;
  }
  .intro-text {
    animation-delay: 300ms;
    width: 100%;
    p {
      font-weight: 300;
      font-size: 20px;
      margin: 10px 0;
    }
    a {
      text-decoration: none;
      background: @custom-red;
      color: white;
      padding: 10px 20px;
      border-radius: 20px;
      display: inline-block;
      border-bottom: 5px solid rgb(189, 53, 71)
    }
  }
  // Media query
  @media only screen and (min-width: 768px) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    .intro-image {
      width: 45%
    }
    .intro-text {
      width: 45%;
    }
  }
}

.scroller {
  animation-delay: 700ms;
  animation-duration: 1s;
}

// Hackaton info
#hackaton-info {
  p {
    color: @custom-blue;
    font-size: 20px;
    font-weight: 300;
    margin: 0 0 50px;
    width: 100%;
    @media only screen and (min-width: 768px) {
      font-size: 30px;
      width: 80%;
    }
    @media only screen and (min-width: 992px) {
      width: 50%;
    }
    &:nth-child(1) {
      margin-top: 50px;
    }
    &:nth-child(odd) {
      margin-left: auto;
      text-align: right;
    }
    &:nth-child(even) {
      margin-right: auto;
    }
  }
}

.hackaton-inscription {
  margin: 0 0 50px;
  a {
    background: @custom-beige;
    border-bottom: 5px solid rgb(222, 218, 184);
    border-radius: 20px;
    color: @custom-blue;
    font-size: 30px;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.25 cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &:active {
      transform: translateY(5px);
    }
  }
  @media only screen and (min-width: 768px) {
    a {
      font-size: 40px;
    }
  }
}

// More info
#info {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  .info-text {
    font-size: 20px;
    text-align: center;
    p {
      margin: 0 0 15px;
    }
    .coming {
      color: @custom-red;
      background: white;
    }
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    .info-text {
      font-size: 30px;
      margin-right: 25px;
    }
  }
}

// Footer 
footer {
  a:nth-child(1) img {
    width: 70px
  }
  a:nth-child(2) img {
    width: 60px
  }
  a:nth-child(3) img {
    width: 100px
  }
  @media only screen and (min-width: 768px) {
    a:nth-child(1) img {
      width: 100%;
    }
    a:nth-child(2) img {
      width: 100px
    }
    a:nth-child(3) img {
      width: 300px
    }
  }
}

.groups {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
}

.group-card {
  padding: 5px;
  .group-letter {
    font-weight: 300;
    margin: 0;
    border-bottom: 1px solid @custom-beige;
  }
  .group-team {
    font-weight: 300;
    img {
      width: 35px;
      margin-right: 5px;
    }
  }
}